---
import HEAD from '@components/HEAD.astro'
---
<!doctype html>
<html lang="en">
<HEAD title="Quantum Secure Vote" description="Quantum Secure Vote" />
<body>
<a href="./login">login</a>
</body>
</html>